*.aux
*.bbl
*.bcf
*.blg
*.lof
*.log
*.lot
*.out
*.xml
*.gz
*.tcp
*.toc
thesis.pdf
demopic.eps
demopic-eps-converted-to.pdf
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ilg
*.ist
*.nlo
*.nls
*.nlo
*.nmc
*.ffs_db
*.pdf
